{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
        </div>
    {% endif %}
    <div class="row flex-row m-3 justify-content-around formLogin">
        <h1 class="ms-5 mt-5 ps-5  fw-bold ">Formulaire de connexion :</h1>
    
        <div class="col-9">
            <label for="inputEmail" class="m-2">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mx-2 mb-3" autocomplete="email" required autofocus>
            <label for="inputPassword" class="m-2">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mx-2 mb-3" autocomplete="current-password" required>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
    
        <div class="col-9">
            <button class="btn btn-lg btn-primary m-3" type="submit">Se connecter</button>
            <a href="{{ path('app_home')}}" class="btn btn-lg btn-primary m-3" > Retour à l'accueil </a>
        </div> 
    </div>
</form>
{% endblock %}
