<div class="accordion d-lg-none mx-1" id="accordionAccueil">
    <div class="accordion-item">
        <h2 class="accordion-header ">
        <button class="accordion-button accordion-btn-show crimson-text-bold-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{infos.1.title}}
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionAccueil">
            <div class="accordion-body">
                <img src="{{imagePath ~ infos.1.imageName}}" class="card-img-top w-60" alt="{{infos.1.imageName}}">
                {{infos.1.content|raw}}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed crimson-text-bold-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{infos.7.title}}
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionAccueil">
            <div class="accordion-body">
                <img src="{{imagePath ~ infos.7.imageName}}" class="card-img-top w-60" alt="{{infos.7.imageName}}">
                <hr>
                {{infos.7.content|raw}} <br>
                <hr>
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Entretien_Revision' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed crimson-text-bold-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            {{infos.9.title}}
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionAccueil">
            <div class="accordion-body">
                <img src="{{imagePath ~ infos.9.imageName}}" class="card-img-top w-60" alt="{{infos.9.imageName}}">
                <hr>
                {{infos.9.content|raw}} <br>
                <hr>
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Carrosserie' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed crimson-text-bold-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            {{infos.11.title}}
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionAccueil">
            <div class="accordion-body ">
                <img src="{{imagePath ~ infos.11.imageName}}" class="card-img-top w-60" alt="{{infos.11.imageName}}">
                <hr>
                {{infos.11.content|raw}} <br>
                <hr>
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Mecanique'})}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed crimson-text-bold-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            {{infos.13.title}}
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionAccueil">
            <div class="accordion-body">
                <img src="{{imagePath ~ infos.13.imageName}}" class="card-img-top w-40" alt="{{infos.13.imageName}}">
                <hr>
                {{infos.13.content|raw}} <br>
                <a href="{{ path('app_advert_list')}}" class="btn btn-primary">Accéder à la liste</a>
                <hr>
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Ventes' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-none d-lg-block accueil-block">
    <div class="row  d-flex  flex-row card h-25 border-3 rounded">
        <div class="col-4">
            <img src="{{imagePath ~ infos.2.imageName}}" class="card-img" alt="{{infos.2.imageName}}">
        </div>
        <div class="col-8 card-body">
            <h5 class="card-title crimson-text-bold-italic fs-3">{{infos.2.title}}</h5>
            <p class="card-text">{{infos.2.content|raw}}</p>  
        </div>
    </div>
    <div class="row mt-2 d-flex flex-row justify-content-center">
        <div class="card accueil-card" >
            <img src="{{imagePath ~ infos.8.imageName}}" class="card-img-top" alt="{{infos.8.imageName}}">
            <div class="card-body">
                <h5 class="card-title crimson-text-bold-italic fs-3">{{infos.8.title}}</h5>
                <p class="card-text">{{infos.8.content|raw}}</p>
            </div>
            <div class="card-footer">
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Entretien_Revision' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
        <div class="card accueil-card">
            <img src="{{imagePath ~ infos.10.imageName}}" class="card-img-top" alt="{{infos.10.imageName}}">
            <div class="card-body">
                <h5 class="card-title crimson-text-bold-italic fs-3">{{infos.10.title}}</h5>
                <p class="card-text">{{infos.10.content|raw}}</p>
            </div>
            <div class="card-footer">
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Carrosserie' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
        <div class="card accueil-card">
            <img src="{{imagePath ~ infos.12.imageName}}" class="card-img-top" alt="{{infos.12.imageName}}">
            <div class="card-body">
                <h5 class="card-title crimson-text-bold-italic fs-3">{{infos.12.title}}</h5>
                <p class="card-text">{{infos.12.content|raw}}</p>
            </div>
            <div class="card-footer">
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Mecanique' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
        <div class="card accueil-card">
            <img src="{{imagePath ~ infos.14.imageName}}" class="card-img-top" alt="{{infos.14.imageName}}">
            <div class="card-body">
                <h5 class="card-title crimson-text-bold-italic fs-3">{{infos.14.title}}</h5>
                <p class="card-text">{{infos.14.content|raw}}</p>
                <a href="{{ path('app_advert_list')}}" class="btn btn-primary">Voir la liste des véhicules</a>
            </div>
            <div class="card-footer">
                <strong> {{infos.5.title}}</strong>
                {{infos.5.content|raw}}
                <a href="{{ path('app_contact',{'ref': 'Ventes' })}}" class="btn btn-primary">Formulaire de contact</a>
            </div>
        </div>
    </div>
</div>