
    <header class="d-flex mx-2 py-2 border-bottom">
        <div class="col-7 ps-2"> 
            <a href="/"><img src={{imagePath ~ infos.15.imageName}} alt="Logo du garage Vincent Parrot" height="110"></a>  
        </div>
        <div class="col-3 ms-5">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid justify-content-end p-2">
                    <button class="navbar-toggler" height="100" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn" aria-current="page" href="/">Entretien / Réparations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn" aria-current="page" href="{{ path('app_advert_list')}}">Vente de véhicules </a>
                            </li>
                            {% if (not(is_granted('ROLE_EMPLOYEE'))) %}
                                <li class="nav-item">
                                    <a class="nav-link btn" href="{{ path('app_login')}}">Se connecter</a>
                                </li>
                            {% endif %}
                            {% if (is_granted('ROLE_EMPLOYEE')) %}
                                <li class="nav-item">
                                    <a class="nav-link btn" href="{{ path('app_admin')}}">Admin</a>
                                    <a class="nav-link btn" href="{{ path('app_newAdmin')}}">New Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn" href="{{ path('app_logout')}}">Se déconnecter</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
