<footer class="border-top px-3 row ">
    <div class="col-6">
        <div class="scheduleM d-lg-none">
            <h6>{{infos.3.title}}</h6>
            <p>{{infos.3.content|raw}}</p>
        </div>
        <div class="scheduleD d-none d-lg-block">
            <h6>{{infos.4.title}}</h6>
            <p>{{infos.4.content|raw}}</p>
        </div>
    </div>
    <div class="col-6">
        <div class="contactM d-lg-none">
            <h6>{{infos.5.title}}</h6>
            <p>{{infos.5.content|raw}}</p>
        </div>
        <div class="contactD d-none d-lg-block">
            <h6>{{infos.6.title}}</h6>
            <p>{{infos.6.content|raw}}</p>
        </div> 
        <a href="#" class="btn btn-primary">Formulaire de contact</a>
    </div>

    <div class="col-12 d-flex mb-5 border-top">
        <ul class="nav ps-3 ">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary disabled">© 2024 Company, Inc</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        </ul>
    </div>
</footer>


