{% if is_granted('ROLE_ADMIN') %}
    <div class="card" style="width: auto"> 
        <div class="row card-header">
            <div class="col col-9 d-flex">
                <h2 class="card-title">{{ is_create ? 'Ajouter un employé : ': 'Modifier un employé :'}} </h2>
            </div>
            <div class="col col-2 d-flex">
                <a href="{{ path('admin_employee_list')}}" class="btn btn-primary">Revenir à la liste</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row m-4 ">
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-success mt-4">
                        <h6>{{message}}<h6>
                    </div>
                {% endfor %}
            </div>
            <hr>
            {{form_start(form, {'attr': {'auto_complete': 'off'} }) }}
            {{form_row(form.lastname)}}
            {{form_row(form.firstname)}}
            {{form_row(form.email)}}
            {{form_row(form.telephon)}}
            {{form_row(form.address)}}
            {{form_row(form.roles)}}
            
            <div class="{{ is_create ? 'd-none': 'd-block'}}">
                <button class="btn btn-primary col col-4" id="passwordFormBtn" type="button" >Modifier le mot de passe</button>
            </div>
            <div id="passwordForm" class={{ is_create ? 'd-block' : 'd-none'}}>
                {{ form_row(form.password)}} 
            </div>
            <div id="saveForm">
                {{form_row(form.save)}}
            </div>
            {{form_end(form)}}
        </div>
    </div>
{% endif %}

<script>
function myPasswordFormEvent () {
let passwordFormBtn = document.getElementById('passwordFormBtn') 
let passwordForm = document.getElementById('passwordForm')

passwordFormBtn.addEventListener('click', function (event) {
    event.preventDefault()
    passwordForm.setAttribute('class', 'd-block')
})
}
myPasswordFormEvent()
</script>


    

        
        
    