{% extends 'base.html.twig' %}

{% block title %} Garage Vincent Parrot - Contact {% endblock %}

{% block body %}
    
    <div class="row m-4 ">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                <h6>{{message}}<h6>
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                <h6>{{message}}<h6>
            </div>
        {% endfor %}
    </div>

    <div class="row m-4 form-contact">
        <h3> Demande de contact pour :  {{ref}} </h3>
        <div class="col col-md-9 ms-2 ms-md-5 ps-2 ps-md-5">
            {{form_start(form)}}
                {{form_widget(form)}}
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
