<div class="col my-2">
    <div class="card listCars-card" > 
            <div class="card-header">
                <h2> Ref : {{secondHandCar.reference}} </h2>
                <hr>
                {% if (photos[secondHandCar.Id])%}
                    <img src="{{photoPath ~ photos[secondHandCar.Id]}}" class="card-img-top" alt="photo de {{secondHandCar.model.brand}} {{secondHandCar.model}}">  
                {% else %}
                    <img src="{{photoPath ~ 'DefaultCar.png'}}" class="card-img-top ms-3 w-75" alt="photo de {{secondHandCar.model.brand}} {{secondHandCar.model}} absente">  
                {% endif %} 
            </div>
            <div class="card-body">
                <h5 class="card-title">{{secondHandCar.model.brand}} {{secondHandCar.model}}</h5>
                <p class="card-text">
                    <h6> Prix : {{secondHandCar.price}} €</h6>
                    <hr>
                    Mise en circulation : {{secondHandCar.CirculationYear.format("d/m/Y")}}<br>
                    km : {{secondHandCar.kilometers}}
                    <a href="{{ path('app_advert_oneCar',{'id': secondHandCar.id})}}" class="advert-list">Plus d'infos</a>
                </p>
            </div>
        
        <div class="card-footer">
            <strong> {{infos.5.title}}</strong>
            {{infos.5.content|raw}}
            <a href="{{ path('app_contact',{'ref': secondHandCar.id ~ secondHandCar.model.brand ~ secondHandCar.model })}}" class="btn btn-primary">Formulaire de contact</a>
        </div>
    </div>
</div>