{% extends 'base.html.twig' %}

{% block title %} Annouces de Véhicules d'occasion {% endblock %}

{% block body %}
    
    <form class="row flex-row justify-content-center">
        <div class="col-3 m-3">
            <h5>kilométrage :</h5>
                <input name="kmMin" value="{{kmMinCar}}" min="0" max="{{kmMaxCar}}" placeholder="Minimum"><br>
                <input name="kmMax" value="{{kmMaxCar}}" min="{{kmMinCar}}" max="1000000"  placeholder="Maximum">
        </div>
        <div class="col-3 m-3">
            <h5>Prix :</h5>
                <input name="priceMin" value="{{priceMinCar}}" min="0" max="{{priceMaxCar}}" placeholder="Minimum"><br>
                <input name="priceMax" value="{{priceMaxCar}}" min="{{priceMinCar}}" max="1000000" placeholder="Maximum">
        </div>
        <div class="col-3 m-3">
            <h5>Années :</h5>
                <input name="yearMin"  value="{{yearMinCar}}" min="{{yearMinCar}}" max="{{yearMaxCar}}" placeholder="Minimum" ><br>
                <input name="yearMax"  value="{{yearMaxCar}}" min="{{yearMinCar}}" max="{{yearMaxCar}}" placeholder="Maximum">
        </div>
        <input type="submit" class= "col-3" value="Filtrer">
    </form>
    
    <div class="row flex-row justify-content-center">
        {% for secondHandCar in secondHandCars %}
            {% include 'partials/advert/_advert_list.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
