{% extends 'base.html.twig' %}

{% block title %} {{secondHandCar.model.brand}} {{secondHandCar.model}} {% endblock %}

{% block body %}
    <div class="row flex-row">
        {% if (photos|length > 0) %}
            <div class="col-12 col-lg-7">
                <div id="carouselPhotos" class="carousel slide justify-content-center m-3">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                        <div class="carousel-inner">
                            {% if (photos[0]) %}
                                <div class="carousel-item active">
                                    <img src="{{photoPath ~ photos[0].imageName}}" class="card-img-top" alt="1ère photo de {{secondHandCar.model.brand}} {{secondHandCar.model}}">  
                                </div>
                            {% endif %}
                            {% if (photos|length >1 and photos[1])%} 
                                <div class="carousel-item">
                                    <img src="{{photoPath ~ photos[1].imageName}}" class="card-img-top" alt="2ème photo de {{secondHandCar.model.brand}} {{secondHandCar.model}}">  
                                </div>
                            {% endif %} 
                            {% if (photos|length >2 and photos[2])%}
                                <div class="carousel-item">
                                    <img src="{{photoPath ~ photos[2].imageName}}" class="card-img-top" alt="3ème photo de {{secondHandCar.model.brand}} {{secondHandCar.model}}">  
                                </div>
                            {% endif %}
                        </div>
                    {% if (photos|length >1 and photos[1])%}     
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotos" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPhotos" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="col-12 col-lg-7">
                <img src="{{photoPath ~ 'DefaultCar.png'}}" class="card-img-top m-5 w-75" alt="photo de {{secondHandCar.model.brand}} {{secondHandCar.model}} absente">  
            </div>
        {% endif %}
        <div class="card ms-4 ms-md-5 ms-lg-2 mt-3 mb-2 col-10 col-md-5 col-lg-2">
            <div class="card-body flex-row">
                <div class="col">
                    <h3 class="card-title">{{secondHandCar.model.brand}} {{secondHandCar.model}}</h3>
                    <h4>{% if (secondHandCar.reference) %}Référence de l'annonce : {{secondHandCar.reference}}{% endif %}</h4>
                    <p class="card-text">
                        <h4> Prix : {{secondHandCar.price}} €</h4>
                        <hr>
                        {% if (secondHandCar.type) %} Type : {{secondHandCar.type}} <br>{% endif %}
                        {% if (colors|length > 0) %}
                            <p> Couleurs :
                            {% for color in colors %}
                                {{color -}} 
                            {% endfor %}  
                            <hr>
                            </p>
                        {% endif %}
                        <p>
                        {% if (secondHandCar.CirculationYear) %} Mise en circulation : {{secondHandCar.CirculationYear.format("d/m/Y")}}<br>{% endif %} 
                        {% if (secondHandCar.kilometers) %}km : {{secondHandCar.kilometers}}<br>{% endif %}
                        {% if (secondHandCar.fiscalPower) %} Puissance Fiscale : {{secondHandCar.fiscalPower}} CV <br> {% endif %}
                        {% if (secondHandCar.dinPower) %} Puissance DIN : {{secondHandCar.dinPower}} CV <br>{% endif %}
                        </p>
                        <p>
                        {% if (energies|length > 0) %}
                            Energies :
                            {% for energy in energies %}
                                {{energy -}} 
                            {% endfor %} 
                            <br>  
                        {% endif %}
                        {% if (secondHandCar.autoGearBox) %} Boîte automatique <br>{% endif %}
                        </p>
                        <p>
                        {% if (secondHandCar.doors) %} Nombres de portes : {{secondHandCar.doors}} <br>{% endif %}
                        {% if (secondHandCar.seats) %} Nombres de places : {{secondHandCar.seats}}<br> {% endif %}
                        {% if (secondHandCar.critairNb) %} Crit'air : {{secondHandCar.critairNb}}<br> {% endif %}
                        </p>
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="card ms-4 ms-md-3 ms-lg-2 mt-3 mb-2 col-10 col-md-5 col-lg-2">
            <div class="card-body flex-row">
                <div class="col">
                    {% if (equipments|length > 0) %}
                        <div class="col">
                            <h4 class="card-title">Equipements</h4>
                            <p class="card-text">
                                {% for equipement in equipments %}
                                    {{equipement }} <br>
                                {% endfor %}  
                                <hr>
                            </p>
                        </div>
                    {% endif %}
                    {% if (options|length > 0) %}
                        <div class="col">
                            <h4 class="card-title">Options</h4>
                            <p class="card-text">
                                {% for option in options %}
                                    {{option }} <br>
                                {% endfor %}  
                            <br>
                            </p>
                        </div>
                    {% endif %}
                    <div class="card-footer">
                        <strong> {{infos.5.title}}</strong>
                        {{infos.5.content|raw}}
                        <a href="{{ path('app_contact',{'ref': secondHandCar.id ~ secondHandCar.model.brand ~ secondHandCar.model })}}" class="btn btn-primary">Formulaire de contact</a>
                    </div>
                </div>
        </div>
    </div>
    
{% endblock %}
